/build.gradle
/gradlew
/gradle.xml
/gradle.properties
/gradlew.bat
/local.properties
/settings.gradle
/.gradle/file-system.probe
/.gradle/7.3.3/gc.properties
/.gradle/7.3.3/checksums/checksums.lock
/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.3.3/dependencies-accessors/gc.properties
/.gradle/7.3.3/executionHistory/executionHistory.bin
/.gradle/7.3.3/executionHistory/executionHistory.lock
/.gradle/7.3.3/fileChanges/last-build.bin
/.gradle/7.3.3/fileHashes/fileHashes.bin
/.gradle/7.3.3/fileHashes/fileHashes.lock
/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.idea/shelf/
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/libraries/
/.idea/modules/PickMovie.iml
/.idea/modules/app/
/app/build
/app/proguard-rules.pro
/app/src/androidTest/java/com/otus/homework/pickmovie/ExampleInstrumentedTest.kt
/app/src/main/res/drawable/ic_launcher_background.xml
/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/app/src/main/res/mipmap-hdpi/ic_launcher.webp
/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-mdpi/ic_launcher.webp
/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/app/src/main/res/xml/backup_rules.xml
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/test/java/com/otus/homework/pickmovie/ExampleUnitTest.kt
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
