<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otus.homework.pickmovie">

    <application
        android:name=".PickMovieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickMovie">

        <activity
            android:name=".ShareToFriendActivity"
            android:exported="false"
            android:label="@string/share_to_friend_title"
            android:launchMode="standard" />
        <activity
            android:name=".MovieDetailsActivity"
            android:exported="false"
            android:label="@string/movie_details_title"
            android:launchMode="standard" />
        <activity
            android:name=".MoviesListActivity"
            android:exported="true"
            android:label="@string/movies_list_title"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
